* {
	margin: 0;
	padding: 0;
	color: #434A54;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	outline: none;
}

/* Components */

b {
	color: #fff;
}

body {
	overflow-x:hidden;
}

.header {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 100px;
}

.header:after {
	border-bottom: 1px solid #000;
}

section {
	margin: 100px 0 0 0;
}

a {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 0;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

button {
	border:0;
}

.ripple{
	position: absolute;
	border-radius: 100%;
	width: 0px;
	height: 0px;
	background: rgba(248,248,255, .3);
	transition-property: border-radius,width,height,background,margin-left,margin-top;
	transition-duration: 150ms;
	transition-timing-function: ease-out;
	-webkit-transition-property: border-radius,width,height,background,margin-left,margin-top;
	-webkit-transition-duration:150ms;
	-webkit-transition-timing-function:ease-out;
	-moz-transition-property: border-radius,width,height,background,margin-left,margin-top;
	-moz-transition-duration:150ms;
	-moz-transition-timing-function:ease-out;	
	-o-transition-property: border-radius,width,height,background,margin-left,margin-top;
	-o-transition-duration:150ms;
	-o-transition-timing-function:ease-out;
	z-index: 50000;	
	pointer-events: none;	
}

.ripple-out{
	background: rgba(248,248,255, .0);
	transition: background 150ms ease-out opacity 150ms ease-out;
	-webkit-transition: background 150ms ease-out opacity 150ms ease-out;
	-moz-transition: background 150ms ease-out;
	-o-transition: background 150ms ease-out;
	z-index: 50000;		
}

.ripple-stop{
	-moz-transition: none !important;
	-o-transition: none !important;
	-webkit-transition: none !important;
	transition: none !important;
}

/* Helper Classes */

.caps{
	text-transform: uppercase;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.noselect, noSelect {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.vparent{
	display: table;
}

.vcontent{
	display: table-cell;
	vertical-align: middle;
}

.heart {
	color: #DA4453;
}

/* Menu */

.navbar {
	background: #C8102E;
	top: 0;
	width: 100%;
	border-radius: 0;
	border: 0;
	z-index: 9999;
	text-align: center;
	margin-bottom: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
}

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  vertical-align: top;
}
 
.navbar-inner {
  text-align:center;
}

.navbar li > a {
	color: #fff;
	font-size: 24px;
	border-top: 5px solid #C8102E;
	border-bottom: 5px solid #C8102E;
}

.navbar li > a:hover {
	background:none;
	border-top: 5px solid #fff;
}

.navbar-toggle {
	border: 1px solid #fff;
}

.icon-bar {
	background: #fff;
}

/* Home */

#home {
	min-height: 325px;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background: #C8102E;
	padding: 0 10% 0 10%;
	overflow: hidden;
}

#home h1, #home h2{
	color: #fff;
	font-size: 0;
	margin: 0;
}

.square {
	border: 5px solid #fff;
	width: 60vmin;
	height: 60vmin;
	text-align: center;
	padding: 20px;
	margin: 0 auto;
	visibility: hidden;
}

#title {
	line-height: 1;
}

#homeNav {
	margin: 0 auto;
	text-align: center;
	padding-top: 8%;
}

#homeNav a {
	padding: 10px;
	color: #fff;
	font-size: 36px;
}

/* About */

.stickyPadding {
	padding-top: 50px; !important;
}

.resumeButton, .resumeButton:visited {
	padding: 15px 20px;
	background: #00B388;
	font-size: 16px;
	color: #fff;
	top: 0;
	float: left;
}

.resumeButton:hover {
	background: #00866C;
	color: #fff;
}

.downloadButton {
	height: 100%;
	position: absolute;
	padding: 15px 20px;
	background: #00866C;
}

.downloadButton span {
	color: #fff;
}

.me {
	margin-top: 20px;
	max-width: 325px;
}

/* Contact */

#contact {
	margin-bottom: 100px;
}

/* Footer */

#footer {
	padding: 50px;
	background: #54585A;
	position: relative;
	color: #fff;
}

@media screen and (max-width: 960px) {
	section {
		margin: 10% 10% 0 10%;
	}
}

@media screen and (max-width: 768px) {
	#home {
		height: 100%;
	}
}

/* Animations */

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 0.5s;	
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}	
}

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 0.5s;	
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideUp {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}		
}

@-webkit-keyframes slideUp {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}	
}

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		/*transform: scale(0);*/
		opacity: 0.0;		
	}
	100% {
		/*transform: scale(1);*/
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		/*-webkit-transform: scale(0);*/
		opacity: 0.0;		
	}
	100% {
		/*-webkit-transform: scale(1);*/
		opacity: 1;	
	}		
}

.slideFromBelow{
	animation-name: slideFromBelow;
	-webkit-animation-name: slideFromBelow;	

	animation-duration: 0.5s;	
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideFromBelow {
	0% {
		transform: translateY(1000%);
	}
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideFromBelow {
	0% {
		transform: translateY(1000%);
	}
	100% {
		transform: translateY(0%);
	}	
}